.Characters {
  color: #fff;
  width: 95%;
  margin: 0 auto;
}
.Characters h2 {
  font-size: 3rem;
}
.Characters p {
  font-size: 2rem;
  padding-bottom: 1em;
}

.Characters a:hover {
  text-decoration: underline !important;
}
